<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <header>
            <h1>Lector de Libros</h1>
            <p>Bienvenido a nuestro sitio de lectura en línea.</p>
            <p>Bienvenido <%= user %>
            </p>
            <a href="/salir">Salir</a>
            <!-- Puedes agregar un formulario de búsqueda aquí si lo deseas -->
        </header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#novedades">Novedades</a></li>
                <li><a href="#ficcion">Ficción</a></li>
                <li><a href="#no-ficcion">No Ficción</a></li>
                <li><a href="#favoritos">Favoritos</a></li>
                <li><a href="/store">comprar</a></li>
            </ul>
        </nav>